@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.socialIcons {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.socialIcons a {
  color: white;
}

.facebook {
  background-color: #3b5998;
}

.facebook:hover {
  color: #3b5998;
  background-color: white;
}

.twitter {
  background-color: #1da1f2;
}

.twitter:hover {
  color: #1da1f2;
  background-color: white;
}

.whatsapp {
  background-color: #25d366;
}

.whatsapp:hover {
  color: #25d366;
  background-color: white;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin:hover {
  color: #0077b5;
  background-color: white;
}
